@model IEnumerable<web_lab1_fandom.Models.Series>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premiere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premiere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
